<a href="https://colab.research.google.com/github/delowerhossentuhin/Python-From-Begining/blob/main/01_Python_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python List, Tuple, Dictionaries and Set**

| Feature         | **List**                                            | **Tuple**                                 |
| --------------- | --------------------------------------------------- | ----------------------------------------- |
| **Syntax**      | Square brackets `[]`                                | Parentheses `()`                          |
| **Mutability**  |  Mutable (can change elements)                     |  Immutable (can't change after creation) |
| **Performance** | Slightly slower                                     | Slightly faster (due to immutability)     |
| **Use Case**    | When data may change                                | When data should not change               |
| **Methods**     | Has many built-in methods (like `append`, `remove`) | Fewer methods                             |

List
* items are stored sequentially
* Lists are mutable
* can hold on to different data types
* use square brackets [] to create a list <br>

Tuple
* ordered list of values
* immutable
* in many ways, it is simillar to a list; one of the most important difference is that tuples can be used as KEYs in a dictionary or elements of a SET.
* use () to create a tuple

In [1]:
List=[1,2,'a','b']
Tuple=(1.2, 2.5,'a','b',"Hello")
print(List)
print(Tuple)

[1, 2, 'a', 'b']
(1.2, 2.5, 'a', 'b', 'Hello')

In [2]:
print(List[1])
print(List[-1])
print(List[-4])
print(Tuple[-2])
List[2]=1000
print(List)
# Tuple[2]=1000 ----> Tuples are immutable â€” you cannot change their elements once they are created.

2
b
1
b
[1, 2, 1000, 'b']

In [3]:
for i in Tuple:
  print(i,end=", ")

1.2, 2.5, a, b, Hello,

**enumerate(tuple)** <br>
* enumerate() is a built-in Python function.
* It returns pairs of (index, value) from the list.

In [4]:
for i,v in enumerate(Tuple):
  print(f"{i} : {v}")

0 : 1.2
1 : 2.5
2 : a
3 : b
4 : Hello

**Key Differences Between append() and insert()**


| Feature            | `append()`                              | `insert()`                              |
| ------------------ | --------------------------------------- | --------------------------------------- |
| **Purpose**        | Adds an item **to the end** of the list | Adds an item at a **specific position** |
| **Syntax**         | `list.append(item)`                     | `list.insert(index, item)`              |
| **Changes Order?** | No                                      | Yes (shifts other items forward)        |
| **Use Case**       | When you just want to grow the list     | When you need to control the position   |

In [5]:
list_c=[]
list_c.append('USA')
list_c.append('USA')
list_c.append(404)
list_c.append("frodo")
list_c.append(9.9)
print(list_c)
print("USA" in list_c)
print(len(list_c))
list_c.remove('USA')
print(list_c)
list_c.insert(0,"UK")
print(list_c)
del list_c[0]
print(list_c,end="\n\n")

tuple_c=(1,2,3)
print(len(tuple_c))
print(tuple_c)
# Here Can't be insert or remove item from tuple. So we need to convert to list then add/remove and again convert to tuple
temp_list=list(tuple_c)
temp_list.insert(1,11)
temp_list.insert(1,22)
temp_list.insert(1,33)
temp_list.insert(1,44)
print(44 in tuple_c)
temp_list.remove(33)
tuple_c=tuple(temp_list)
print(tuple_c)

['USA', 'USA', 404, 'frodo', 9.9]
True
5
['USA', 404, 'frodo', 9.9]
['UK', 'USA', 404, 'frodo', 9.9]
['USA', 404, 'frodo', 9.9]

3
(1, 2, 3)
False
(1, 44, 22, 11, 2, 3)

In [6]:
ListOfList=[
    [1,2,3,4,5,6,9],
    ['USA', 'USA', 404, 'frodo', 9.9],
    ['VLSI','CVPR',"DL",38.89],
    ["Samwise Gamsey"]
]

In [7]:
print(ListOfList)
print(ListOfList[2][1])

[[1, 2, 3, 4, 5, 6, 9], ['USA', 'USA', 404, 'frodo', 9.9], ['VLSI', 'CVPR', 'DL', 38.89], ['Samwise Gamsey']]
CVPR

# **Sets**
A Python set holds an unordered collection of objects, but sets do not allow duplicates. If a program adds a duplicate item to a set, only one copy of each item remains in the collection. Adding a duplicate item to a set does not result in an error. Any of the following techniques will define a set.

A list is always enclosed in square braces [], a tuple in parenthesis (), and now we see that the programmer encloses a set in curly braces. Programs can add items to a set as they run. Programs can dynamically add items to a set with the add function. It is important to note that the append function adds items to lists and tuples, whereas the add function adds items to a set.

* add(1 item) ----> for adding/appending/inserting only one element
* update(list/tuple/set/string) ---> for adding/appending/inserting only one list.  can pass as many elements as you want, but they must come in the form of an iterable (like a list, set, tuple, or even a string).
* pop()---->Randomly deleted. If the set is empty, it raises an error
* clear()---> Clear the set
* remove()--->Removes a specific element. Raises an error if the element is not found
*discard()--->Removes a specific element. Don't Raises an error if the element is not found

In [8]:
set_A={1,2,3,4,5,6}
print(set_A)
set_A.add(7)
print(set_A)
set_A.update([100,200,300],[33],"Hello")
print(set_A,end="\n\n") # only one l is came cause repeated element are not allowed
# set_A.remove(34) --> it will raise error cause 34 is not found
set_A.discard(34) #---> But this will not raise any error even item is not found
print(set_A.pop())
set_A.pop()
print(set_A)
print(3 in set_A)
print(1000 in set_A)
set_A.clear()
print(set_A)
# set_A.pop() # ---> This will raise error cause set is empty

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 200, 'l', 'o', 33, 'H', 100, 300, 'e'}

1
{3, 4, 5, 6, 7, 200, 'l', 'o', 33, 'H', 100, 300, 'e'}
True
False
set()

# **Dictionaries**
Many programming languages include the concept of a map, dictionary, or hash table. These are all very related concepts. Python provides a dictionary, that is essentially a collection of name-value pairs. Programs define dictionaries using curly-braces, as seen here. <br>
# **A dictionary (dict) uses keys, which can be:**
* String
* Integers
* Tuples  (if they're immutable)
* Even custom objects

In [9]:
dict={"Name" : "Tuhin","Dept":"CSE","Age":22,"CGPA":3.94}
print(f'The Information is %s and the data type is %s'%(dict,type(dict))) # %s ---> for String or any object
dict["Name"]="DHT"
print(dict)
dict[.9]=17**2
print(dict)
dict.update({"Movie": "Forrest Gump", "Year":1994})
print(dict)
del dict["Movie"]
print(dict)
dict.get("name","default")
dict.get("Name","default")
print(f"Keys of dict: %s"%(dict.keys()))
print(f"Values of dict: %s"%(dict.values()))

The Information is {'Name': 'Tuhin', 'Dept': 'CSE', 'Age': 22, 'CGPA': 3.94} and the data type is <class 'dict'>
{'Name': 'DHT', 'Dept': 'CSE', 'Age': 22, 'CGPA': 3.94}
{'Name': 'DHT', 'Dept': 'CSE', 'Age': 22, 'CGPA': 3.94, 0.9: 289}
{'Name': 'DHT', 'Dept': 'CSE', 'Age': 22, 'CGPA': 3.94, 0.9: 289, 'Movie': 'Forrest Gump', 'Year': 1994}
{'Name': 'DHT', 'Dept': 'CSE', 'Age': 22, 'CGPA': 3.94, 0.9: 289, 'Year': 1994}
Keys of dict: dict_keys(['Name', 'Dept', 'Age', 'CGPA', 0.9, 'Year'])
Values of dict: dict_values(['DHT', 'CSE', 22, 3.94, 289, 1994])

In [10]:
for i in dict:
  print(i)

Name
Dept
Age
CGPA
0.9
Year

In [11]:
for i in dict:
  print(dict[i])

DHT
CSE
22
3.94
289
1994

In [12]:
for key, value in dict.items():
  print(f"key is %s and value is %s"%(key,value))

key is Name and value is DHT
key is Dept and value is CSE
key is Age and value is 22
key is CGPA and value is 3.94
key is 0.9 and value is 289
key is Year and value is 1994